body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.headerWebSite {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  font-size: 1.3em;
}

.userNameFamily {
  display: flex;
  flex-direction: column;
}

.userNameFamily span:first-child {
  font-weight: bold;
}

.btnNavigation {
  display: flex;
  gap: 15px;
}

.linkHeader {
  color: black;
  text-decoration: none;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  background-color: #cddab2;
  padding-left: 250px;
}

.textIntro h1,
.textIntro span {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 2em;
}

.iconsLinkIntro {
  display: flex;
  gap: 16px;
}

.leftIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 140px 340px;
  font-size: 1.2rem;
  gap: 20px;
}

.fontsConsultoria {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.services h2 {
  width: 100%;
  text-align: left;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 48px;
}

.articleConsultoria,
.articleLanding {
  width: calc(90% / 2);
  min-height: 660px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #31533b;
  color: white;
}

.articleConsultoria p,
.articleLanding p {
  width: 100%;
  margin: 16px 0;
  line-height: 1.6;
}

.articleTreinamento {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  background-color: #31533b;
  color: white;
  gap: 16px;
}

.articleTreinamento div {
  flex: 1;
}

.articleTreinamento p {
  margin: 0;
  line-height: 1.6;
}

.articleConsultoria h3,
.articleLanding h3,
.articleTreinamento h3 {
  font-size: 1.7em;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 16px;
}

.btnArticle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b3b476;
  margin-top: 16px;
  padding: 10px;
  border: none;
  color: black;
  width: 100%;
}

.btnDone {
  color: #eaeaea;
  background-color: #ce4115;
  margin-top: auto;
  padding: 15px;
  width: 100%;
}

.btnLink {
  color: #eaeaea;
  border: 1px solid #d0481e;
  background-color: transparent;
  padding: 15px;
  margin-top: 10px;
  width: 100%;
}
