* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.headerWebSite {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  font-size: 20px;
}

.userNameFamily {
  display: flex;
  flex-direction: column;
}

.userNameFamily span:first-child {
  font-weight: bold;
}

.btnNavigation {
  display: flex;
  gap: 15px;
}

.linkHeader {
  color: black;
  text-decoration: none;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 603px;
  font-size: 3rem;
  background-color: #cddab2;
  padding-left: 350px;
}

.leftIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0e2715;
  gap: 24px;
}

.textIntro h1,
.textIntro span {
  font-family: "Bodoni Moda", serif;
  font-weight: 900;
  font-size: 96px;
}

.textIntro p {
  font-size: 28px;
}

.introFlex {
  display: flex;
  color: #31533b;
  gap: 5px;
}

.introFlex p:first-child {
  font-weight: bold;
}

.iconsLinkIntro {
  display: flex;
  gap: 16px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding: 140px 340px;
  font-size: 1.2rem;
  gap: 20px;
}

.services h2,
.eu_indico h2,
.pessoas_empresas span {
  width: 100%;
  font-size: 60px;
  font-family: "Bodoni Moda", serif;
  font-weight: 900;
  margin-bottom: 48px;
}

.boxFlex {
  display: flex;
  min-height: 712px;
  width: 100%;
  min-width: 460px;
  gap: 25px;
}

.articleConsultoria,
.articleLanding,
.articleTreinamento {
}

.articleConsultoria,
.articleLanding {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 45px;
  background-color: #31533b;
  color: white;
}

.articleConsultoria p,
.articleLanding p {
  margin: 16px 0;
  line-height: 1.6;
}

.articleLanding span:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}

.articleTreinamento {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 65px;
  background-color: #31533b;
  color: white;
  gap: 16px;
}

.articleTreinamento div {
  flex: 1;
}

.articleTreinamento p {
  margin: 0;
  line-height: 1.6;
}

.articleConsultoria h3,
.articleLanding h3,
.articleTreinamento h3 {
  font-size: 36px;
  font-family: "Bodoni Moda", serif;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 16px;
}

.articleConsultoria p,
.articleLanding p,
.articleTreinamento p {
  font-size: 18px;
}

/* .articleTreinamento p:nth-child(1) {
  font-size: 16px;
} */

.flexRowTreinamento {
  display: flex;
  gap: 30px;
}

.btnArticle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 381px;
  color: black;
  padding: 8px;
  margin-top: 10px;
  box-shadow: 0px 0px 0px 1px white;
  background-color: #b3b476;
  border: none;
}

.btnArticle span {
  font-size: 16px;
}

.btnDone {
  color: #eaeaea;
  background-color: #ce4115;
}

.btnDone span {
  font-size: 18px;
}

.btnLink {
  color: #eaeaea;
  border: 1px solid #d0481e;
  background-color: transparent;
}

.btnLink span {
  font-size: 18px;
}

.btnDone,
.btnLink,
.btnArticle {
  height: 58px;
  font-size: 1.2rem;
  font-weight: bold;
}

.btnDone,
.btnLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  gap: 10px;
  margin: auto;
}

.articleLanding .btnLink {
  margin-bottom: 5px;
}

.articleLanding .btnDone {
  margin-top: 5px;
}

.eu_indico {
  display: flex;
  flex-direction: column;
  background-color: #b3b476;
  padding: 140px 340px;
}

.flexIndico {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
}

.articleTrellos,
.articleMentoria,
.articleElementor,
.articleKiwify {
  display: flex;
  width: calc(50% - 25px);
  background-color: #b3b476;
  gap: 10px;
}

.articleInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 300;
}

.btnAcessar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 167px;
  height: 41px;
  color: #eaeaea;
  background-color: #ce4115;
  margin-top: auto;
  border: 1px solid black;
  gap: 5px;
}

.boldInfo {
  font-weight: 700;
}

.pessoas_empresas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 140px 240px;
  gap: 80px 100px;
  margin-bottom: 100px;
}

.pessoas_empresas h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.pessoas_empresas span {
  display: flex;
  flex-direction: column;
}

.figurePessoas {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 calc(20% - 100px);
}

.figurePessoas figcaption {
  font-size: 14px;
  padding-top: 10px;
  font-weight: bold;
}

.outro {
  display: flex;
  height: 635px;
  background-color: #31533b;
}

.infoOutro {
  color: #f5f9ed;
  padding: 140px 340px;
  font-size: 20px;
}

.infoOutro p {
  color: #cddab2;
  padding-top: 25px;
}

.outro h2 {
  font-size: 80px;
  font-weight: bold;
}

.outro img {
  width: 487px;
  height: 730px;
  transform: translateY(-95px) translateX(-144px);
}

.textOutro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 451px;
  height: 642px;
  color: #0e2715;
  background-color: #cddab2;
}

.textOutro p {
  padding-top: 18px;
}

.btnSwipe1 {
  position: absolute;
  left: 300px;
}


.btnSwipe2 {
  position: absolute;
  right: 300px;
}

.textOutroDiv {
  max-width: 780px;
  max-height: 350px;
  font-size: 18px;
}

.signature {
  display: flex;
  justify-content: end;
  padding-top: 20px;
  font-weight: bold;
}

.footerWebSite {
  height: 189px;
  font-size: 32px;
}

.footerElements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 42px;
}

.footerText {
  display: flex;
  flex-direction: column;
}

.footerText span:first-child {
  font-weight: bold;
}

.authorship {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
